:root {
  --lav: #A4ADCB;
  --grey: #707070;
  --dkgrey: #4d4d4d;
  --penk: #dc9ce4;
  --bloo: #b7c8f9;
  --teel: #acebd1;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  margin: 0;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--dkgrey);
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 2rem 0;
}

.display-3 {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
}

#currentDay {
  width: 100%;
  background-color: var(--lav);
  padding: 20px 0;
  color: white;
  font-size: 3rem;
}

textarea{
  background: transparent;
  resize: none;
  color: var(--dkgrey);
  border-top: 1px dashed var(--grey);
  border-left: 1px dashed var(--grey);
  border-right: 1px dashed var(--grey);
  padding: 10px;
  border-bottom: none;
}


.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: var(--teel);
  color: var(--dkgrey);
  border-left: 1px dashed --grey;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: var(--grey);
  color: var(--grey);
}

.present {
  background-color: var(--bloo);
  color: var(--dkgrey);
}

.future {
  background-color: var(--teel);
  color: var(--grey);
}

.saveBtn {
  border-left: 1px dashed --grey;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--penk);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
}
#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}

footer {
  margin-top: 1rem;
  min-height: 10%;
  background-color: var(--lav);
  min-width: 100%;
  color: white;
  line-height: 1rem;
  text-align: center;
  padding: 15px 0;
}